<div id="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="headContainer">
                <div id="logo">
                    <h1><a href="#">Dashboard Home</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>