<div id="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <footer>Thomas G. Carpenter Library | University of North Florida</footer>
        </div>
    </div>
</div>