<a id="libanswers"></a>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 well">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr><td colspan="2"><strong>LibAnswers</strong></td></tr>
                </thead>
                <tr>
                    <td class="field-label">Year-to-Date Count</td>
                    <td class="field-value"><div id="libanswers-ytd" class="snapshot-label"></div></td>
                </tr>
                <tr>
                    <td class="field-label">Month-to-Date Count</td>
                    <td class="field-value"><div id="libanswers-mtd" class="snapshot-label"></div></td>
                </tr>
                <tr>
                    <td class="field-label">Week-to-Date Count</td>
                    <td class="field-value"><div id="libanswers-wtd" class="snapshot-label"></div></td>
                </tr>
                <tr class="last">
                    <td class="field-label">Today's Count</td>
                    <td class="field-value"><div id="libanswers-today" class="snapshot-label"></div></td>
                </tr>
            </table>
        </div>

        <div class="span4 well">
            <div class="tab-pane active" id="chart-libAnswers1"></div>
        </div>

        <div class="span4 well">
            <div class="tab-pane active" id="chart-libAnswers2"></div>
        </div>
    </div>
</div>