<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>http://frost.unfcsd.unf.edu</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Dashboard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <UserName>n00648162</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Wildcat" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dashboard.Contexts.LabUsageContext, Dashboard" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Libcounter" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dashboard.Contexts.PatronCounterContext, Dashboard" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ADRPConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://DC=unfcsd,DC=unf,DC=edu" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADRPConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://DC=unfcsd,DC=unf,DC=edu" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ADConnectionString" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://139.62.201.103:389/DC=unfcsd,DC=unf,DC=edu" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://139.62.201.103:389/DC=unfcsd,DC=unf,DC=edu" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Frost" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dashboard.Models.UsersContext, Dashboard" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Patrons" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=frost.unfcsd.unf.edu;Initial Catalog=GateCounter;User ID=gatecounter;Password=!Q@W#Ecountmetoo" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Patrons_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=frost.unfcsd.unf.edu;User ID=gatecounter;Password=!Q@W#Ecountmetoo;Initial Catalog=GateCounter;MultipleActiveResultSets=true " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ADConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ADRPConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Frost-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Libcounter-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Patrons-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Wildcat-Web.config Connection String" />
  </ItemGroup>
</Project>