@{
    ViewBag.Title = "Lab Usage Home";
    ViewBag.Breadcrumb = "<a href=\"/\">Dashboard Home</a>";
    ViewBag.ActiveNav = "navHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
		<h2>Lab Usage Home</h2>
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#graphs" data-toggle="tab">Graphs &amp; Statistics</a></li>
				<li><a href="#databases" data-toggle="tab">Databases</a></li>
				<li><a href="#vendors" data-toggle="tab">Vendors</a></li>
			</ul>
			<div class="tab-content">
			</div>
		</div>
	</div>
</div>