@{
    ViewBag.Title = "Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>Query Tools</h2>
        </div>
    </div>
</div>